/* Page background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    border: 2px solid black;
    border-radius: 10px;
    width: 800px;
    height: 550px;
    justify-content: center;
    padding-left: 20px;
    background-color: white;
}

/* Center form box */
.container {
    width: 360px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* Heading */
h2 {
    text-align: center;
    margin-bottom: 15px;
}

.reg{
    border: 2px solid black;
    background-color: azure;
}

/* Labels + input styling */
form label {
    font-weight: bold;
}

form input {
    width: 90%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #7c7c7c;
    font-size: 16px;
    background-color: aliceblue;
}

/* Button styling */
form button {
    width: 50%;
    padding: 12px;
    border: none;
    background: #4f46e5;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: 0.3s ease;
}

form button:hover {
    background: #3b82f6;
    transform: scale(1.03);
}
