* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

#taskInput {
    width: 75%;
    padding: 8px;
}

#addBtn {
    width: 23%;
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#taskList {
    list-style: none;
    margin-top: 15px;
}

li {
    padding: 8px;
    margin-bottom: 8px;
    background: #e6f4ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    background: #cce8cc !important;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}